<div class="head-box">
    <div class="head-body">
        <div class="head-left">
            <span class="">喵，欢迎来天猫</span>
            <span class="">请登录</span>
            <span class="">免费注册</span>
        </div>
        <div class="head-right">
            <ul [nzMode]="'horizontal'" nz-menu class="head-right-ul">
                <li nz-submenu>
                    <span title><i class="anticon anticon-setting"></i> 我的淘宝</span>
                    <ul>
                        <li nz-menu-group>
                            <span title>已买到的宝贝</span>
                        </li>
                        <li nz-menu-group>
                            <span title>已卖出的宝贝</span>
                        </li>
                    </ul>
                </li>
                <li nz-menu-item><i class="anticon anticon-mail"></i> 我关注的品牌</li>
                <li nz-menu-item><i class="anticon anticon-mail"></i> 购物车0件</li>
                <li nz-submenu>
                    <span title><i class="anticon anticon-setting"></i> 收藏夹</span>
                    <ul>
                        <li nz-menu-group>
                            <span title>收藏的宝贝</span>
                        </li>
                        <li nz-menu-group>
                            <span title>收藏的店铺</span>
                        </li>
                    </ul>
                </li>
                <!-- <li nz-submenu>
              <span title><i class="anticon anticon-setting"></i> Navigation Three - Submenu</span>
              <ul>
                  <li nz-menu-group>
                      <span title>Item 1</span>
                      <ul>
                          <li nz-menu-item>Option 1</li>
                          <li nz-menu-item>Option 2</li>
                      </ul>
                  </li>
                  <li nz-menu-group>
                      <span title>Item 2</span>
                      <ul>
                          <li nz-menu-item>Option 3</li>
                          <li nz-menu-item>Option 4</li>
                      </ul>
                  </li>
              </ul>
          </li> -->
            </ul>
        </div>
    </div>
</div>
<!-- 我的淘宝
㑉 我关注的品牌 󰅈 购物车0件
收藏夹
㑈 手机版 淘宝网
商家支持
网站导航 -->